body{
	background: url(images/background.png) repeat top left;
	margin:auto 0;
}

.img{
	max-width:100%;
	box-shadow: 1px 1px 10px 1px #464646;
}

.object{
	max-width:100%;
}


a{
	text-decoration: none;
	color:white;
}

h1{
	color:#FFFCB6;
	text-align:center;
	margin-top: 90px;
	font-family: 'Sentinel A', 'Sentinel B'; 
	font-weight: 600; 
	font-style: normal;
	font-size:2.375em;
}

h2{
	font-family: 'Sentinel A', 'Sentinel B';
	font-size:2.25em;
	font-weight: 400; 
	font-style: normal;
	color:#fff;
	text-align: left;
	margin-top: 40px;
	line-height: 1.25em;
}

h3 {
	font-family: 'Gotham A', 'Gotham B'; 
	font-weight: 300; 
	font-style: normal;
	font-size: .8em;
	font-weight:normal;
	letter-spacing: 2px;
	text-transform: uppercase;
	line-height: 1.5em;
}

p{
	font-family: 'Sentinel SSm A', 'Sentinel SSm B'; 
	font-weight: 400; 
	font-style: normal;
	color:white;
	font-size:1.125em;
	line-height: 1.5em;
}

#header {
	height: 134px;
	margin-top: 30px;
}

#logo {
	width: 200px;
	position: relative;
	padding-top: 20px;
	margin-bottom: 17px;
	}

.nav li{
	list-style: none;
	display: inline-block;
	float: right;
	margin-top: -37px;
	margin-bottom: 20px;
}

.nav a {
	color:#E4FA83;
	font-family: 'Gotham A', 'Gotham B'; 
	font-weight: 300; 
	font-style: normal;
	text-decoration: none;
	font-size: .850em;
	letter-spacing: 2px;
	margin: 0 20px
}

.nav a:hover{
	color:#fff;
}

.blue-line {
	height:0.5em;
	clear:both;
	width:100%;
	background-color: #00dba0;
	margin-bottom: 0.947em;
}

.hero-unit {
	height:25em;
	width:100%;
	background: url(images/herodesk.png) 55% 0 repeat-x #a46e42;
	background-size:cover;
	background-position: center;
	margin-bottom:0.947em;
}

.green-line {
	height:0.5em;
	clear:both;
	width:100%;
	background-color: #b4db00;
}

.about{
	margin-top:5em;
}


.rkw{
	font-family: 'Gotham A', 'Gotham B'; 
	font-weight: 300; 
	font-style: normal;
	color:#78ecb7;
	font-size: 1.25em;
	font-weight:normal;
	line-height: 1.5em;
	letter-spacing: 1.75px;
}

.italic{
	font-family: 'Sentinel SSm A', 'Sentinel SSm B'; 
	font-weight: 400; 
	font-style: italic;
	color:#78ecb7;
	margin-right: 3px;
}

.headshot{
	margin-top: 35px;
	width: 240px;
}
/*.about-text{
	margin-left:35px;
}*/
.contact{
	padding-bottom:20%;
	margin-top: -20px;
}

.hello {
	margin-top: 0px;
	font-size: 2.2em;
	color: #b4db00;
	font-family: 'Sentinel A', 'Sentinel B'; 
	font-weight: 600; 
	font-style: normal;
}

.social{
	margin: -111px 0px 0px 320px;
}

.icons {
	margin-right:5%;
	padding-top: 2em; 
	width:40px;
}


.blue-line-footer {
	height:0.75em;
	clear:both;
	width:100%;
	background-color: #00dba0;
	margin-top: 6em;
	margin-bottom:2em;
}

#footer{
	width:100%;
	height:40px;

}
#footer-logo{
	width:100px;
	position:relative;
	margin:0 auto;
}

.b{
	margin:0 auto;
}

.footer-text{
	text-align: center; 
	color:#9dab5c;
	font-family: 'Gotham A', 'Gotham B'; 
	font-weight: 300; 
	font-style: normal;
	font-size: .75em;
}

/* CSS For Portfolio Page
================================================== */

.page-title {
	height:7em;
	width:100%;
	background-color: rgba(109, 145, 132, 0.23);
	background-position: center;

}


h2.featured{
	text-align:center;
	margin-top: 19px;
	line-height:1em;
}

h3.featured-byline {
	color:#e4fd6f;
	text-align: center;
	margin-bottom: 31px;
}
#portfolio-body{
	margin-top: 3em;
}

.portfolio-img{
	width: 100%;
	float: none;
	display: inline;
	margin: 1% 0 6% 1%;
	box-shadow: 1px 1px 10px 1px #464646;
	opacity: 0.90;
	filter:alpha(opacity=90);
	-webkit-duration: .2s;
	-moz-duration: .2s;
	-o-duration: .2s;
	transition-duration: .2s;
	}

.portfolio-img:hover{
	opacity: 1.0;
	filter:alpha(opacity=100);
	transition-property:opacity;
}


h3.portfolio-tagline{
	color:#78ecb7;
	display: inline-block;
	text-align: left;
	width: 100%;
	margin: 0 0 0 1%;
	font-size:.75em;
}


/* CSS For Indiv. Portfolio Pages
================================================== */

#description{
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	padding-right: 30px;
}

h2.portfolio-title {
	text-align: left;
	margin-top: 40px;
	line-height: 1.15em;
}

h3.portfolio-desc{
	color:#e4fd6f;
	line-height: 1.75em;
	padding-bottom: 10px;
}

.image-div{
	margin-top: 50px;
	margin-left:10px;
}
.video-container{
    position: relative;
    height:50%;
    overflow:hidden;
    margin-bottom: -60px;
   	margin-left:10px;
    }

.video-container iframe {
	position:absolute;
	width: 100%;
	border: none;
	}

/* CSS For Blog Page
================================================== */
#blog{
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	margin-bottom: 80px;
	padding-right: 30px;

}

h3.blog-date{
	color: #78ecb7;
	text-align: left;
	text-transform: uppercase;
}

.blog-italic{
	font-family: 'Sentinel SSm A', 'Sentinel SSm B'; 
	font-weight: 400; 
	font-style: italic;
}

.blog-emphasis{
	font-family: 'Sentinel SSm A', 'Sentinel SSm B'; 
	font-weight: 600;
	font-size: 1.5em;
	line-height: 1.5em;
}

h3.blog-section{
	color:#e4fd6f;
	margin-bottom: -15px;
	line-height: 1.625em;
}

.entries {
	border-left:1px solid #befce0;
	margin-top: 60px;
	padding-left:30px;
	padding-right: 30px;
	text-align: left;
}

.recently{
	font-family: 'Sentinel SSm A', 'Sentinel SSm B'; 
	font-weight: 400; 
	font-style: normal;
	font-size: 1em;
	color:#e4fd6f;
}

.entry-title{
	color: #fff;
	font-family: 'Gotham A', 'Gotham B'; 
	font-weight: 400; 
	font-style: normal;
	text-decoration: none;
	font-size: .8em;
}

.entry-title:hover{
	color:#befce0;
}

h3.entry-date{
	color: #e4fd6f;
	font-size: .50em;
	letter-spacing: 1.5px;
	margin-bottom: 40px;
}



/* #Media Queries
================================================== */
@media only screen and (max-width: 1000px) {

}

@media only screen and (max-width: 945px) {

	.hero-unit{
		height:22em;
	}

	h1{
		font-size: 2.1em;
		margin-top: 80px;
	}

	.headshot {
		width:100%;
		margin: 30px 0px 0px 10px;
	}
}

@media only screen and (max-width: 910px) {

	.social{
		margin: -111px 0px 0px 320px;
	}

	.icons {
		margin-right:3%;
		padding-top: 2em; 
		width:31px;
	}
}

@media screen and (max-width: 780px) {

	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12 {
		width:100%;
		}

	.hero-unit{
		height:19em;
	}	

	h1{
		font-size: 2em;
		margin-top: 65px;
	}

	h2 {
		font-size: 1.75em;
		text-align: left;
		margin-top: 30px;
		line-height: 1.1875em;
		}

	p{
		font-family: 'Sentinel SSm A', 'Sentinel SSm B'; 
		font-weight: 400; 
		font-style: normal;
		color:white;
		font-size:1em;
		line-height: 1.5em;
	}
	
	.blue-line, .green-line, .blue-line-footer {
		height:0.45em;	
	}

	.about {
		margin: 4em auto;
	}
	.headshot{
		width: 30%;
		margin: 4% 36%;	
	}

	.blue-line-footer{
		margin-top: 0px;
	}
	h3.portfolio-tagline{
	display: inline-block;
	text-align: center;
	width: 100%;
	margin: 2% 0 2% 1%;
	font-size:.625em;
	}
	.portfolio-img {
	max-width: 80%;
	float: none;
	display: inline;
	margin: 0 10% 4% 10%;
	box-shadow: 1px 1px 10px 1px #464646;
	}
	#blog{
		padding-right: 0px;
		margin-bottom:0px;
	}	
}

@media screen and (max-width: 590px) {

	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12 {
		width:100%;
		}

	#header{
		height:116px;
		margin-top:15px;
	}

	#logo {
	width:138px;
	margin: 0 auto 16px;
	}

	.object {
		width:100%;
	}

	.nav{
	    list-style:none;
		margin: 0px 0px 20px 0px;
	    padding:0;
	    text-align:center;
		background-color: rgba(109, 145, 132, 0.23);
	}

	.nav li{
	    display:inline;
	    float:none;
	}
	.nav a{
	    display:inline-block;
	    padding:10px;
	    font-size: .750em;
	}

	.hero-unit{
		height:16em;
	}

	h1{
		font-size: 1.75em;
		margin-top: 46px;
	}

	h2 {
		text-align: left;
		margin-top: 25px;
	}
	.blue-line, .green-line, .blue-line-footer {
		height:0.15em;	
		margin-top: 1em;
	}
	.headshot{
		display:none;
	}

	.contact{
		width:100%;
		margin-top: 20px;
	}

	.hello {
		margin:0px;	
	}

	.social {
		margin:0;
	}

	.icons{
		padding-top: 1em;
		width:40px;
	}
	.page-title{
		height:2em;
		background-color:transparent;
	}
	h2.featured{
		margin-top: 16px;
	}

	h3.featured-byline {
		display: none;
	}

	#portfolio-body{
		margin-top: 0em;
	}
	h3.portfolio-tagline{
	color:#e4fd6f;	
	margin: 0% 0 3% 1%;
	padding-top: 6%;
	}
	.portfolio-img{
	max-width: 80%;
	float: none;
	display: inline;
	margin: 0 10% 3% 10%;
	}
}


@media screen and (max-width: 480px) {

	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12 {
		width:100%;
		}

	.hero-unit{
		height:14em;
	}	
	h1{
		font-size: 1.5em;
		margin-top: 41px;
	}


	.nav a {
		margin: 0 8px;
	}
	.rkw{
		margin-top:0px;
		font-size: .875em;
	}	
}

@media screen and (max-width: 380px) {

	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12 {
		width:100%;
		}

	.hero-unit{
		height:12em;
	}	
	h1{
		font-size: 1.3em;
		margin-top: 38px;
	}
	
	.rkw{
		margin-top:-24px;
	}

	.hello{
		text-align: center;
	}
	.social{
		margin:0 -7% 0 7%;
	}
	.icons {
		margin:0 4% 0 0;
		padding-top: 2em; 
		width:13%;
	}
	.page-title{
		height:3.5em;
	}

	.portfolio-img{
	max-width: 100%;
	float: none;
	display: inline;
	margin: 0 1% 6% 1%;
	}
}

@media screen and (max-width: 339px) {

	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12 {
		width:100%;
		}

	.nav a {
		display:block;
		padding:8px;
		font-size: .625em;
		border-bottom: 1px #638877 solid;
	}	
	#last{
		border-bottom: 0px;
	}

	.hero-unit{
		height:11em;
	}	
	h1{
		font-size: 1.2em;
		margin-top: 33px;
	}
}